
@model ViewModels.CommuMessage
@using Models
@{
    ViewBag.Title = "SelectMessagecomm";
    Layout = null;
}
<div>
    @foreach (Communication p in Model.Communication2)
    {
        if (Int64.Parse(DateTime.Now.ToString("yyyyMMdd")) - Int64.Parse(p.CommunicationTime.ToString("yyyyMMdd")) < 1)
        {
            <div class="row danqian_user">
                <div class="danqian_user_time">@p.CommunicationTime.ToString("MM-dd hh:mm") </div>
                <span class="danqian_user_content">@p.Content  </span>
                <img src="@Session["Image"]" />
            </div>

        }


    }
</div>


